{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width , initial-scale=1.0" name="viewport">
        <title>{% block title %}Namsi Portfolio{% endblock title %}</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!--Favicons-->
        <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
        <link href="{% static 'assets/img/' %}" rel="icon">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        
        <!--Vendor Css Files-->
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static  'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static  'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
         <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
         <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">        
        <!--Template Main Css file-->
        <link href="{%  static 'assets/css/style.css' %}" rel="stylesheet">
    
        </head>

        <body>
          
            <!-- =======Header ======-->
            {% block content %}

            
            <header id="header">
                <div class="container">
                    <h1>Namsi Lydia</h1>
                    <h2>I'm a Software Engineer <span>From Nairobi Kenya</span></h2>

                    <nav id ="navbar" class="navbar">
                        <ul>
                            <li><a class="nav-link active" href="#header">Home</a></li>
                            <li><a class="nav-link" href="#about">About</a></li>
                            <li><a class="nav-link" href="#resume">Resume</a></li>
                            <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                            <li><a class="nav-link" href="#services">Services</a></li>
                            <li><a class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav>
                    <div class="social-links">
                        <a href="https://github.com/namsi-lia" class="github"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/namsi-lydia-a8713b175/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <button class="favorite styled" type="button"
                       onclick="window.location.href='https://drive.google.com/file/d/1P_35WO8dY6nH-lVIPJK2LerXn9_BU4rt/view?usp=sharing';" >
                            Download Resume
                            </button>
                    </div>
                </div>
            </header>   <!--End of Header Section-->       

            <!-- ====== About Section =========-->

            <section id="about" class="about">
            <div class="about-me container">
                <div class="section-title">
                    <h2>About</h2>
                    <p>Get To Know Me</p>
                </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{% static 'assets/img/me.jpg' %}" class="img-fluid" alt=""> 
                </div>
            <div class="col-lg-8 pt-4 pt-lg-0 conent" data-aos="fade-left">
                <h3>Software Engineer &amp;UI Designer</h3>
                <p class="fst-italic">
                    Experienced software engineer with a passion for developing innovative solutions that meet business and user needs.
                     Skilled in designing, developing, testing, and maintaining software applications using various programming languages and frameworks. 
                     Strong track record of delivering high-quality software products on time and within budget.
                     Committed to continuous learning and staying up-to-date with the latest technologies and industry trends.
                </p><br>

                <h3 class="resume-title">Skillset</h3>
                <div class="resume-item">
                    <ul>
                        <li>Programming Languages:Python,Dart,Java,Kotlin</li>
                        <li>Frameworks:Django,Flutter,Android</li>
                        <li>Databases:Firebase,Sql</li>
                        <li>Operating Systems: Linux, Windows</li>
                        <li>Tools:Jira,Github,Gitlab,Agile Development Methodologies,Postman,Docker</li>
                    </ul>
                </div>
            </div>
            </div>
            </div> <!--End of About Me-->

         <!--====Skills ======--> 
        <div class="skills container">
            <div class="section-title">
                <h2>Skills OverView</h2>
            </div>
            <div class="row skills-content">
                <div class="col-lg-6">
                    <div class="progress">
                        <span class="skill">Mobile Development<i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Backend Development<i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Web Development<i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>
                    </div>

                    <div class="progress">
                        <span class="skill">UI/UX Design & Research <i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>  <!--End of Skills-->

        <!---===Interests =====-->
    <div class="interests container">
        <div class="section-title">
            <h2>Interests</h2>
        </div>

    <div class="row">
        <div class="col-lg-3 col-md-4">
            <div class="icon-box">
                <h3>DevOps</h3>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
                <h3>Software Architecture</h3>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
                <h3>System Design</h3>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
                <h3>Cross-Platform Apps</h3>
            </div>
        </div>
     

    </div>
    </div><!--End of Interests-->
    </section><!--end of About section-->
   
<!--===Resume Section ======-->
    <section id="resume" class="resume">
        <div class="container">
            <div class="section-title">
                <h2>Resume</h2>
                <p>Check Out My Resume</p>
            </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
               
              
                <div class="resume-item pb-0">
                   <h4>Namsi Lydia</h4>
                   <p><em>Experienced software engineer with a passion for developing innovative solutions that meet business and user needs. 
                    Skilled in designing, developing, testing, and maintaining software applications using various programming languages and frameworks. 
                    Strong track record of delivering high-quality software products on time and within budget.
                     Committed to continuous learning and staying up-to-date with the latest technologies and industry trends.
                </em></p> 
             
                <p>
                    <ul>
                        <li>Nairobi,Kenya</li>
                        <li>0704563911</li>
                        <li>namsilydia27@gmail.com</li>
                    </ul>
                </p>
                </div>
          
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                 <h4>Bachelor Of Science In Information Technology</h4>
                 <h5>2019-2021</h5>
                 <p><em>Jomo Kenyatta University Of Agriculture and Technology</em></p>
                 <p>Data structures and algorithms,system programming,computer security,software engineering,mathematics ,computer graphics.</p>
                </div>

                <div class="resume-item">
                    <h4>Diploma In Information Technology</h4>
                    <h5>2017-2018</h5>
                    <p><em>Jomo Kenyatta University Of Agriculture and Technology</em></p>
                    <p>Software engineering,hardware and software support,web development,programming,project management
                    </p>
                </div>


            </div>

        <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
                <h4>Junior Software Engineer -Mobile Application Development</h4>
                <h5>Feb 2022 -Aug 2022</h5>
                <p><em>Turnkey Africa Limited ,Nairobi ,Kenya</em></p>
                <p>
                    <ul>
                        <li>Developed and maintained a mobile application for  Android using Java and Kotlin
                        </li>
                        <li>Corrected errors in software to fix performance issues and improve usability.
                        </li>
                        <li>Conduct Regression testing and write unit tests for quality assurance tasks for the QA team.
                        </li>
                        <li>Documented software defects with bug tracking system, reporting defects to software developers.
                        </li>
                        <li>Contributed to the development of the company's Agile software development process.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="resume-item">
                <h4>Software Development Intern</h4>
                <h5>Nov 2020 - Apr 2021</h5>
                <p><em>Izone Limited Kenya ,Westlands,Nairobi,Kenya</em></p>
                <p>
                    <ul>
                        <li>Learned correct tools and processes for different types of development to minimize errors and achieve coding goals.</li>
                        <li>Applied classroom instruction and shadowed professionals to expand coding skills into programming abilities.</li>
                        <li>Worked closely with the development team to implement coding changes and troubleshoot bugs.
                        </li>
                        <li>Collaborated across teams to solve technical and non-technical challenges.
                        </li>
                        <li>Training on web development frameworks such as Angular 
                        </li>
                    </ul>
                </p>
            </div>
        <div class="resume-item">
            <h4>UI/UX Designer/Researcher/Developer</h4>
            <h5>Sep 2021 -Feb 2022</h5>
            <p><em>Sahl Health Kenya, Ngong Rd,Nairobi,Kenya</em></p>
            <p>
                <ul>
                <li>Collaborated with cross-functional teams to design and develop user-centered web and mobile applications for clients in various industries.</li>
                <li>Conducted user research and usability testing to gather insights and validate design decisions.</li>
                <li>Created wireframes, prototypes, and user flows to test and refine design concepts. </li>
                <li>Designed high-fidelity visual mockups using  Figma, and Adobe Creative Suite.</li>
                <li> Conducted usability testing and gathered feedback to iterate and improve designs. </li>
                <Li>Worked closely with developers to ensure designs were implemented accurately and to specifications.</Li>
                </ul>
            </p>
        </div>
        </div>
        </div>
        </div>
    </section><!--End of Resume Section-->

    <!--===Services Section-->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
                <p>My Services</p>
            </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-mobile"></i></div>
                    <h4><a href="">Development</a></h4>
                    <p>Our development services provide customized solutions for your business needs. 
                        From web and mobile application development to enterprise software and cloud solutions, 
                        we deliver high-quality products that exceed expectations.  
                        use the latest technologies and best practices to ensure optimal performance and user experience. </p> 
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-code"></i></div>
                    <h4><a href="">Design</a></h4>
                    <p>Our design services offer a creative approach to visually communicate your brand's message.
                         We specialize in web and mobile app design, UI/UX design. keen eye for detail and deliver innovative solutions that are both aesthetically pleasing and functional. 
                        collaborate with clients to understand their business needs and goals, ensuring a personalized design approach that reflects their brand identity. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-support"></i></div>
                    <h4><a href="">Support</a></h4>
                    <p>provide  assistance to ensure your applications runs smoothly. From troubleshooting technical issues to system maintenance and upgrades, 
                        offer reliable and efficient solutions. 
                        prioritize customer satisfaction and work with you to develop a tailored support plan that meets your specific needs. 
                        With our proactive approach to problem-solving,identify and resolve issues before they become critical.</p>
                </div>
            </div>
        </div>    
        </div>
    </section><!--End of Services Section-->

<!--===Portfolio Section-->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="section-title">
                <h2>Portfolio</h2>
                <p>My Work</p>
            </div>
            {% for portfolioDetails in jobs %}
              
        <div class="row portfolio-container">
           

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img class="card-img-top" src="{{ portfolioDetails.image}}" alt="Card image cap">
                    <div class="portfolio-info">
                        <p>"{{portfolioDetails.summary}}" </p>   
                        <div class="portfolio-links">
                          </div>
                    </div>
                </div>
            </div>
        
    </div>
    {% endfor %}
        </div>
    </section><!--End of portfolio screen-->
 <!--=== Contact Section ===-->
     <section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Me</p>
            </div>
        <div class="row mt-2">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>My Address</h3>
                    <p>Nairobi kenya</p>
                </div>
            </div>

           <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
            <div class="info-box">
                <i class="bx bx-share-alt"></i>
                <h3>social-links</h3>
                <div class="social-links">
                    <a href="https://github.com/namsi-lia" class="github"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/namsi-lydia-a8713b175/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div>
            </div>
           </div> 
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Email Me</h3>
                <p>namsilydia27@gmail.com</p>
            </div>
        </div>
    <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+254704563911</p>
        </div>
         </div>
        </div>
        <div class="contact-form">
        <form action="" method="">
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required> 
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div> 
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
            <button class="favorite styled" type="button">
                            Send Message
        </button>        
        </form>
        </div>
        </div>
     </section><!--end of ContactSection-->

     <!--Credits section-->
     <div class="credits">
        <p>Designed by Namsi Lydia</p>
     </div>


     <!--Vendor Files-->
     <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
     <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
     <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
     <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
     <script src="{% static  'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
     <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
     <script src="{% static  'assets/vendor/php-email-form/validate.js' %}"></script>

     <!--Template js Files-->
     <script src="{% static 'assets/js/main.js' %}"></script>

     {% endblock %}

    </body>

</html>